@if(type == 'submit')
  <button type="submit" class="{{ className || 'ui primary button' }}">
    {{ label || 'Save' }}
  </button>
@else
  <a href="{{ action || '#' }}" class="{{ className || 'ui button' }}" style="color: rgba(0,0,0,.6) !important;">
    {{ label || 'Cancel' }}
  </a>
@end