<div class="field {{ flashMessages.has(`errors.${name}`) ? 'error' : '' }}">
  @if(label)
    <label>{{ label }}</label>
  @end
  
  <input 
    type="{{ type || 'text' }}" 
    name="{{ name }}" 
    value="{{ old(name) || value || '' }}" 
    {{ required ? 'required' : '' }}
    placeholder="{{ placeholder || '' }}"
  >

  @if(flashMessages.has(`errors.${name}`))
    <div class="ui pointing red basic label">
      {{ flashMessages.get(`errors.${name}`) }}
    </div>
  @end
</div>
